<!DOCTYPE html>
<html>

<head>
  <title>aadii's portfolio</title>
  <link rel="icon" href="./src/images/favicon.png" type="image/png" sizes="20x20">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" type="text/css" href="./src/scss/styles.scss">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <ul id="side-nav" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
        </div>
        <a>
          <img class="circle" src="./src/images/aadii.jpeg" alt="aadii104's Picture">
        </a>
        <a>
          <span class="white-text name">Aditya Sharma</span>
        </a>
        <a>
          <span class="white-text email">sharmaadi104@gmail.com</span>
        </a>
      </div>
    </li>
    <li>
      <a href="#hero">Home</a>
    </li>
    <li>
      <a href="#about-me">About</a>
    </li>
    <li>
      <a href="#skills">Skills & Tools</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="./resume.html" target="_blank" rel="noopener">Resume</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <div class="side-menu-social-links row">
      <div class="col s2">
        <a href="https://web.facebook.com/aadii104" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="col s2">
        <a href="https://twitter.com/aadii104" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="col s2">
        <a href="https://www.linkedin.com/in/aadii104/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="col s2">
        <a href="https://www.freecodecamp.org/aadii104" target="_blank">
          <i class="fa fa-free-code-camp"></i>
        </a>
      </div>
      <div class="col s2">
        <a href="https://codepen.io/aadii104/" target="_blank">
          <i class="fa fa-codepen"></i>
        </a>
      </div>
      <div class="col s2">
        <a href="https://medium.com/@aadii104" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
  </ul>

  <a href="#" data-activates="side-nav" class="nav-button">
    <i class="fa fa-bars fa-2x"></i>
  </a>



  <section id="hero">
    <div id="hero-content" class="center-align">
      <!-- <img src="./src/images/white-logo.svg" alt="aadii104's Logo'" class="index-1"> -->
      <!-- <h4 class="index-1">Hello, I am aadii104 Ali</h4>
      <h2 class="index-1">A Full Stack Web App Developer</h2> -->
    </div>
  </section>
  <section id="about-me" class="section-with-padding center-align">
    <h1>Little bit about me</h1>
    <hr class="underline-hr">
    <div class="row">
      <div class="col l4 m12 s12">
        <img src="./src/images/aadii.jpeg" alt="aadii104's Picture'">
      </div>
      <p class="col l8 m12 s12">I am Aditya Sharma, An extremely passionate and enthusiastic self taught web application developer from Karachi, Pakistan.
        Currently working as a full time employee at a Javascript consultancy firm in Pakistan. I am also running one of
        the freeCodeCamp’s Local study groups in my city and frequently organize community meetups to help fellow campers
        and students and provide them with an opportunity to connect with industry professionals. If you don’t already know
        freeCodeCamp.org is an E-learning platform focused on Javascript, It helped me break into tech industry and I am
        just trying to give back to the community. I also love doing Open source contributions and you can see some of the
        projects listed below as well as on my github account.
        <br>
        <br> I have a keen eye for design and you might see that in almost all of my projects. I try my best to make the things
        I build look beautiful as well. Talking about other things I like to play video games, love coffee, favourite color
        is blue, enjoy the company of like minded people, love to sleep and best of all Coding. (Trust me this is uncommon
        :P).
        <br>
        <!-- <br> I am not finished yet, I also have a Medium article in which I shared my journey of how I became a self taught developer,
        You can read it
        <a href="https://medium.com/@aadii104/my-journey-from-being-paid-to-work-to-being-paid-to-learn-7bc3fc68d75e" target="_blank">Here.</a> -->
      </p>
    </div>
    <div class="row">
      <h2 class="quote">
        <span class="quotation-mark">“</span> Be the change you want to see in the world
        <span class="quotation-mark">„</span>
      </h2>
    </div>
  </section>

  <section id="skills" class="section-with-padding center-align bg-blue">
    <h1>Skills & Tools</h1>
    <hr class="underline-hr hr-white">
    <h5>These are skills and tools I use to make the Web a better place.</h5>
    <div class="row">
      <div v-for="skill in skills" class="col l2 m3 s4" v-html="skill"></div>
      <!-- <i class="col l2 m3 s4 devicon-html5-plain-wordmark colored"></i>-->
    </div>
  </section>

  <section id="projects" class="center-align">
    <div class="section-with-padding">
      <h1>Projects</h1>
      <hr class="underline-hr">
      <h5>These are some of the noteworthy projects I like to show off.</h5>
    </div>
    <div class="carousel carousel-slider">
      <a href="#" id="prev-button">
        <i class="fa fa-4x fa-angle-left" aria-hidden="true"></i>
      </a>
      <a href="#" id="next-button">
        <i class="fa fa-4x fa-angle-right" aria-hidden="true"></i>
      </a>

      <div v-for="(project, index) in projects" class="carousel-item" :data-cindex="index">
        <div class="container row card">
          <div class="col l5 m12 s12">
            <h2>{{project.name}}</h2>
            <p>{{project.description}}</p>
            <h2>Built with</h2>
            <div>
              <div v-for="item in project.builtWith" class="chip">{{item}}</div>
            </div>
            <a :href="project.links[0]" class="btn btn-white waves-effect waves-light" target="_blank">View Live
              <i class="fa fa-external-link"></i>
            </a>
            <a :href="project.links[1]" class="btn btn-white waves-effect waves-light" target="_blank">Github
              <i class="fa fa-github"></i>
            </a>
          </div>
          <div class="col l7 m8 s12 offset-m2">
            <img :src="project.imageUrl" class="responsive-img">
          </div>
        </div>
      </div>

    </div>

    <div class="carousel thumbnails">
      <a v-for="(project, index) in projects" class="carousel-item" :data-cindex="index">
        <img :src="project.imageUrl">
      </a>
    </div>

  </section>

  <section id="contact" class="section-with-padding center-align bg-blue">
    <h1>Get in Touch</h1>
    <hr class="underline-hr hr-white">
    <h5>Want to get in touch? Just fill the form below or use one of my social links.</h5>

    <form action="https://formspree.io/nawazishaliejaz@gmail.com" method="POST">
      <div class="row">
        <div class="input-field col l6 m12 s12">
          <i class="fa fa-user prefix"></i>
          <input id="name" type="text" name="name" required>
          <label for="name">Name</label>
        </div>
        <div class="input-field col l6 m12 s12">
          <i class="fa fa-envelope prefix"></i>
          <input id="email" type="email" name="_replyto" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col l12 m12 s12">
          <i class="fa fa-comment prefix"></i>
          <textarea id="message" name="message" class="materialize-textarea"></textarea>
          <label for="message">Your Message</label>
        </div>
      </div>
      <button class="btn btn-white waves-effect waves-light" type="submit" value="Send">Send
        <i class="fa fa-paper-plane"></i>
      </button>
    </form>
    <div class="social-links row">
      <div class="col l2 m2 s4">
        <a href="https://web.facebook.com/aadii104" target="_blank">
          <i class="fa fa-3x fa-facebook"></i>
        </a>
      </div>
      <div class="col l2 m2 s4">
        <a href="https://twitter.com/aadii104" target="_blank">
          <i class="fa fa-3x fa-twitter"></i>
        </a>
      </div>
      <div class="col l2 m2 s4">
        <a href="https://www.linkedin.com/in/aadii104/" target="_blank">
          <i class="fa fa-3x fa-linkedin"></i>
        </a>
      </div>
      <div class="col l2 m2 s4">
        <a href="https://www.freecodecamp.org/aadii104" target="_blank">
          <i class="fa fa-3x fa-free-code-camp"></i>
        </a>
      </div>
      <div class="col l2 m2 s4">
        <a href="https://codepen.io/aadii104/" target="_blank">
          <i class="fa fa-3x fa-codepen"></i>
        </a>
      </div>
      <div class="col l2 m2 s4">
        <a href="https://medium.com/@aadii104" target="_blank">
          <i class="fa fa-3x fa-medium"></i>
        </a>
      </div>
    </div>
    <hr class="hr-white">
    <footer>
      <p>©
        <span id="copyright-year"></span> Copyright aadii104 </p>
    </footer>
  </section>

  <script async defer src="./src/js/app.js"></script>
</body>

</html>