#hero {
    height: 100vh;
    width: 100%;
    min-height: 500px;
    #hero-content {
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: inherit; // background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; // position: absolute;
        height: 100%;
        width: 100%;
        color: white;
        background-color: $primary-blue;
        background-image: url("../images/cover-optimized.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        img {
            margin-top: 50px;
            width: 200px;
            height: 200px;
        }
        canvas {
            position: absolute;
        }
        h2 {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media screen and (max-width: $small-screen) {
            img {
                width: 150px;
                height: 150px;
            }
            h4 {
                font-size: 25px;
            }
            h2 {
                font-size: 35px;
            }
        }
    }
}