#projects {
    .container {
        width: 93%;
    }
    @media screen and (max-width: $medium-screen) {
        .container {
            width: 90%;
        }
    }
    @media screen and (max-width: $small-screen) {
        .container {
            width: 85%;
        }
    }
    .carousel .indicators .indicator-item {
        background-color: $primary-blue-opaque;
    }
    .carousel .indicators .indicator-item.active {
        background-color: $primary-blue;
    }
    .carousel.carousel-slider {
        height: 480px !important;
        .card {
            background-color: $primary-blue;
            color: $white;
            padding: 20px;
            .btn {
                margin: 10px;
                font-size: 14px;
            }
        }
        .chip {
            background-color: $secondary-blue;
            color: $white;
            font-weight: 900;
        }
        h2,
        p {
            margin: 10px auto;
        }
        @media screen and (max-width: $medium-screen) {
            img {
                margin-top: 10px;
            }
            height: 650px !important;
        }
        @media screen and (max-width: $mini-screen) {
            height: 600px !important;
            .card {
                padding: 5px;
            }
            h2 {
                font-size: 20px !important;
            }
            p {
                font-size: 12px !important;
            }
            .chip {
                font-size: 10px;
            }
            .btn {
                padding: 0 10px;
            }
        }
    }
    .carousel.thumbnails {
        height: 220px !important;
        @media screen and (max-width: $mini-screen) {
            display: none;
        }
    }
    #prev-button {
        position: absolute;
        text-align: center;
        width: 40px;
        left: -8px;
        top: 40%;
        color: $primary-blue;
        z-index: 1;
        @media screen and (max-width: $small-screen) {
            font-size: 10px;
        }
    }
    #next-button {
        position: absolute;
        text-align: center;
        width: 40px;
        right: -8px;
        top: 40%;
        color: $primary-blue;
        z-index: 1;
        @media screen and (max-width: $small-screen) {
            font-size: 10px;
        }
    }
}