#side-nav {
    .side-menu-social-links {
        margin: 5px;
        .col {
            padding: 0 5px;
        }
        a {
            display: inline-flex;
            padding: 0;
            width: 40px;
            height: 40px;
            color: $primary-blue;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            -webkit-transition: background-color 0.5s;
            -webkit-transition: color 0.5s;
            transition: background-color 0.5s;
            transition: color 0.5s;
            &:hover {
                background-color: $primary-blue;
                color: $white;
            }
        }
    }
    .background {
        background-color: $primary-blue;
    }
}