#skills {
    width: 100%;
    min-height: 100%; // i {
    //     font-size: 70px;
    //     margin-top: 20px;
    //     margin-bottom: 20px;
    // }
    svg {
        width: 70px;
        height: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}