@import url('https://fonts.googleapis.com/css?family=Raleway');
@import './variables.scss';
@import './classes.scss';
@import './sections/side-nav.scss';
@import './sections/hero.scss';
@import './sections/about.scss';
@import './sections/skills.scss';
@import './sections/projects.scss';
@import './sections/contact.scss';

body {
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
}

hr {
    border: 0;
    margin: 20px auto;
    height: 1px;
    background-image: -webkit-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -moz-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -ms-linear-gradient(left, $white, $primary-blue, $white);
    background-image: -o-linear-gradient(left, $white, $primary-blue, $white);
}

.nav-button {
    position: fixed;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.nav-button.btn-floating {
    background-color: $primary-blue;
}