$body-font-color: rgba(0, 0, 0, 0.87);
$mini-screen: 500px;
$small-screen: 600px;
$medium-screen: 992px;
$white: white;
$primary-blue: #2F80ED;
$primary-blue-opaque: rgba(47, 129, 237, 0.664);
$secondary-blue: #2566BD;